.project-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:baseline;
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  height: 60%;
  max-height: 500px;
  min-height: 300px;
}