body {
  display: flow-root;
  min-width: 320px;
  min-height: 100vh;

  color: #5ee1d2de;
  background-color: #1b0432;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;

    &:hover {
      color: #535bf2;
    }
  }

  h1 {
    font-family: 'magneto', serif;
    font-size: 3.2em;
    line-height: 1.6;
  }
  p {
    font-family: serif;
    font-size: 1.2em;
    line-height: 1.3;
  }
}